/* -----------------------------
   RANKING TABLE STYLE
------------------------------ */

.shiny-file-input-progress {
    display: none;
  }

.ranking_table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 14px;
}

/* Header */
.ranking_table th {
    background-color: royalblue;
    font-weight: 600;
    padding: 6px;
    text-align: center;
}

/* Cells */
.ranking_table td {
    padding: 6px;
    text-align: center;
}

/* Column sizing */
.ranking_table th:nth-child(1),
.ranking_table td:nth-child(1) {
    width: 60px;
}

.ranking_table th:nth-child(2),
.ranking_table td:nth-child(2) {
    width: 140px;
    text-align: left;
}

.ranking_table th:nth-child(3),
.ranking_table td:nth-child(3) {
    width: 140px;
}

.ranking_table th:nth-child(4),
.ranking_table td:nth-child(4) {
    width: 100px;
}

/* Optional hover */
.ranking_table tr:hover {
    background-color: #fafafa;
}


/*
#cards_table table {
  width: auto;
  border-collapse: collapse;
}

#cards_table td,
#cards_table th {
  padding: 0px 4px;
  font-size: 11px;
  white-space: nowrap;
}

#cards_table td:first-child,
#cards_table th:first-child {
  width: 80px;
}

#cards_table td:nth-child(2),
#cards_table th:nth-child(2),
#cards_table td:nth-child(3),
#cards_table th:nth-child(3) {
  width: 45px;
  text-align: center;
}

#cards_table .checkbox {
  margin: 0;
  padding: 0;
}

#cards_table input[type="checkbox"] {
  margin: 0;
  transform: scale(0.8);
}

*/